[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "external/graph_cut"]
	path = external/graph_cut
	url = https://github.com/mlivesu/GraphCuts
